pandas~=2.2.3
requests~=2.32.0
SQLAlchemy~=2.0.23
rpy2~=3.5.14
wget~=3.2
beautifulsoup4~=4.12.2
geopandas~=0.14.1
folium~=0.15.1
plotly~=5.18.0
h2o~=3.46.0.1
ipyleaflet~=0.18.2
altair~=5.2.0
selenium~=4.18.1
psycopg2-binary~=2.9.9
plotly~=5.18.0
GeoAlchemy2~=0.14.6
googledrivedownloader~=0.4
setuptools~=70.0.0
urllib3~=2.2.1
